<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ansarfarid.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aiicon"
        android:label="Towards AI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home" />
        <activity
            android:name=".Main2Activity_action"
            android:label="Robotics"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Main3Activity_drama"
            android:label="Astronomy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Main4Activity_comedy"
            android:label="Change the world for the better"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Main5Activity_random"
            android:label="AI leaders"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VideoPlayer" />
        <activity
            android:name=".Website"
            android:label="AI Newsletter"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>